name: codequality

on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ["7.4", "8.0"]

    name: PHP-${{ matrix.php }} 

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

    - name: Cache PHP dependencies
      uses: actions/cache@v1
      with:
        path: vendor
        key: ${{ runner.OS }}-build-${{ hashFiles('**/composer.lock') }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
        coverage: xdebug

    - name: Validate Composer
      run: composer validate --strict

    - name: Install PHP dependencies
      run: composer install --no-interaction --ignore-platform-reqs

    - name: Run our Linter and PHPStan
      run: composer run-script test

    - name: Store coverage % for updating README
      run: >
        NEW_COVERAGE="$(composer coverage | grep Cov | sed 's/Cov://' | xargs)" &&
        echo "NEW_COVERAGE=$NEW_COVERAGE" >> $GITHUB_ENV

    - name: Modify README directly
      run: >
        echo "1 $NEW_COVERAGE" &&
        echo "2 ${{ env.NEW_COVERAGE }}" &&
        sed -i "/Coverage:/ c Coverage: $NEW_COVERAGE" ./README.md &&
        cat README.md

    - name: Commit files
      run: |
        git config --local user.email "me@ljs.dev"
        git config --local user.name "Leon Stafford"
        git commit -m "Update project stats" -a || echo "No project stats changes to commit"
    - name: Push changes
      if: matrix.php == '8.0'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}

#   update-code-coverage:
#     runs-on: ubuntu-latest
#     name: Update project stats
#     steps:
#     - uses: actions/checkout@master
#     - name: Update version
#       id: update-badges
#       uses: leonstafford/a11y-friendly-badges@master
#       with:
#         update_commands: >
#           echo "captured var: ${{ env.NEW_COVERAGE }}" &&
#           sed -i "s/Coverage:/c\Coverage: ${{ env.NEW_COVERAGE }}" ./README.md &&
#           cat ./README.md
